ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 101px;

}

li a {
  text-decoration: none;
  color: white;
  padding: 4px;
  text-align: center;
  display: inline-block;
  width: 100px;
  font-size: 20px;
}

li a:hover {
  color: white;
  text-shadow: 2px 2px 10px white;
}

li a img {
  box-shadow: 2px 2px 10px white;
  border-radius: 10px;
  height: 90px;
  width: 90px;
}

.bigName{
  display:inline-block;
  color: white;
  
}


body {
  background: url(http://openwalls.com/image/11194/sunset_behind_the_earth_2880x900.jpg);
  background-repeat: no-repeat;
}
